body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.series-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.series-item {
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    background-color: #f9f9f9;
    margin-bottom: 20px;
    text-align: center;
    transition: transform 0.3s;
}

.series-item:hover {
    transform: scale(1.05);
}

.series-item img {
    max-width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination button {
    padding: 10px;
    margin: 0 5px;
}

.pagination select {
    padding: 10px;
    font-size: 16px;
}

.destaque {
    background-color: yellow;
}

.message {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: red;
}

footer {
    padding: 0.2%;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ccc;
    text-align: center;
    font-size: 18px;
    color: rgb(0, 0, 0);
    display: none;
    z-index: 1; /* Coloca o rodapé atrás de outros elementos com z-index maior */
}
body {
    padding-bottom: 60px; 
}

.pagination {
    position: relative;
    z-index: 2; 
}